/Ch6/.ipynb_checkpoints
/Ch8/.ipynb_checkpoints
/Ch5/.ipynb_checkpoints
/Ch3/.ipynb_checkpoints
/Ch3/Exercises/.ipynb_checkpoints
/Ch4/.ipynb_checkpoints
/Main_Project/.ipynb_checkpoints
/Main_Project/catboost_info
